<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.molloi.openApi.mapper.UserInterfaceInfoLogMapper">

    <resultMap id="BaseResultMap" type="com.molloi.openApi.model.entity.UserInterfaceInfoLog">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="interfaceInfoId" column="interfaceInfoId" jdbcType="BIGINT"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,interfaceInfoId,
        status,createTime,updateTime,
        isDelete
    </sql>
    <select id="getTopInvokeInterfaceList" resultType="com.molloi.openApi.model.vo.InvokeInterfaceVO">
        select interfaceInfoId, count(*) as totalNum
        from user_interface_info_log
        group by interfaceInfoId
        order by totalNum desc
        limit #{limit};
    </select>
</mapper>
